{% extends "layout.html" %}
{% load static %}

{% block body %}
    
    <div class="container mt-5">

        <h3>What's XMol?</h3>
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>

        <h3 class="mt-4">Links</h3>
        <div class="row height d-flex justify-content-center align-items-center">
            <ul>
                <li><a href="https://github.com/DannyAntonelli/xmol">GitHub</a>: Repository of this website.</li>
                <li><a href="https://colab.research.google.com/drive/16Q-4w5Gn-4HItMM_T5SIwmRRSZSXp0NK?usp=sharing">Google Colab</a>: Python Notebook used for testing and training of the network and the explainers.</li>
            </ul>
        </div>

    </div>

{% endblock %}
