{% extends "layout.html" %}
{% load static %}

{% block body %}
    
    <div class="container mt-5">

        <h3>What's XMol?</h3>
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-12">
                <p>
                    XMol is a web app that uses a deep learning model to predict if given molecules can penetrate the blood-brain barrier.
                    It was developed as an experiment to study Graph Neural Networks and XAI methods on GNNs.
                    The Neural Network was developed using <a href="https://pytorch.org/docs/stable/index.html">PyTorch</a> and <a href="https://pytorch-geometric.readthedocs.io/en/latest/">PyTorch Geometric</a>.
                    The methods used are the ones in the <a href="https://github.com/divelab/DIG/tree/dig">DIG library</a>.
                </p>
            </div>
        </div>

        <h3 class="mt-4">Links</h3>
        <div class="row height d-flex justify-content-center align-items-center">
            <ul>
                <li><a href="https://github.com/DannyAntonelli/xmol">GitHub</a>: Repository of this website.</li>
                <li><a href="https://colab.research.google.com/drive/16Q-4w5Gn-4HItMM_T5SIwmRRSZSXp0NK?usp=sharing">Google Colab</a>: Python Notebook used for testing and training of the network and the explainers.</li>
            </ul>
        </div>

    </div>

{% endblock %}
