{% extends "layout.html" %}
{% load static %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <div>Error parsing the SMILES. Make sure you entered a valid molecule</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <div class="container mt-5">
        <h2 class="text-center mb-5">Search for a molecule in SMILES format</h2>
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <form action="{% url 'index' %}" method="get" class="input-group">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </span>
                    <input type="text" class="form-control" name="smiles" placeholder="C1=C(C(N)=O)N=N[N]1CC2=C(C=CC=C2F)F">
                </form>
            </div>
        </div>
    </div>

    {% if not error %}
        <div id="explanations" class="carousel carousel-dark slide" data-bs-ride="carousel">

            <div class="carousel-indicators">
            <button type="button" data-bs-target="#explanations" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#explanations" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#explanations" data-bs-slide-to="2"></button>
            </div>
            
            <div class="carousel-inner" style="padding-top: 10px;">
                <div class="carousel-item active" data-bs-interval="10000" style="height: 60vh;">
                    <img src="data:image/png;base64,{{ GradCAM }}" class="d-block h-100" alt="GradCAM explanation" style="margin: auto;">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>GradCAM explanation</h5>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000" style="height: 60vh;">
                    <img src="data:image/png;base64,{{ DeepLIFT }}" class="d-block h-100" alt="DeepLIFT explanation" style="margin: auto;">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>DeepLIFT explanation</h5>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000" style="height: 60vh;">
                    <img src="data:image/png;base64,{{ GNNExplainer }}" class="d-block h-100" alt="GNNExplainer explanation" style="margin: auto;">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>GNNExplainer explanation</h5>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#explanations" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#explanations" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    {% endif %}

{% endblock %}
